<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PixabayUrl</key>
	<string>https://pixabay.com/api/?key=</string>
	<key>PixabayApiKey</key>
	<string>your-api-key-goes-here</string>
	<key>PixabayImageType</key>
	<string>image_type=photo</string>
</dict>
</plist>
